#!/usr/bin/make -f
# -*- makefile -*-

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp


build: build-stamp

build-stamp: configure-stamp
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	mkdir -p $(CURDIR)/debian/mapmbtiles

	mkdir -p $(CURDIR)/debian/mapmbtiles/usr/lib/mapmbtiles
	cp mapmbtiles.py $(CURDIR)/debian/mapmbtiles/usr/lib/mapmbtiles
	cp -r mapmbtiles $(CURDIR)/debian/mapmbtiles/usr/lib/mapmbtiles

	mkdir -p $(CURDIR)/debian/mapmbtiles/usr/bin
	ln -s /usr/lib/mapmbtiles/mapmbtiles.py $(CURDIR)/debian/mapmbtiles/usr/bin/mapmbtiles
	ln -s /usr/lib/mapmbtiles/mapmbtiles/gdal2mbtiles.py $(CURDIR)/debian/mapmbtiles/usr/bin/gdal2mbtiles
	#chmod a+x $(CURDIR)/debian/mapmbtiles/usr/bin/mapmbtiles

	mkdir -p $(CURDIR)/debian/mapmbtiles/usr/share/mapmbtiles
	cp -r resources/* $(CURDIR)/debian/mapmbtiles/usr/share/mapmbtiles

	mkdir -p $(CURDIR)/debian/mapmbtiles/usr/share/applications
	cp deploy/linux/mapmbtiles.desktop $(CURDIR)/debian/mapmbtiles/usr/share/applications

	mkdir -p $(CURDIR)/debian/mapmbtiles/usr/share/doc/mapmbtiles
	cp README.txt $(CURDIR)/debian/mapmbtiles/usr/share/doc/mapmbtiles


binary-indep: build install

binary-arch: build install
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
